<section [ngStyle]="{'background-image': 'url(../assets/4.png)'}" #section>
    <h1 class="title">Interested in my work?</h1>
    <br><br>
    <h2>Feel free to follow, connect, or contact me on any of these platforms</h2>
    <div class="centered">
        <div class="platforms">
            <a mat-fab>
                <img src="../assets/socialLogos/github.png">
                <p class="iconText">GitHub</p>
            </a>
            <a mat-fab>
                <img src="../assets/socialLogos/linkedin.png">
                <p class="iconText2">LinkedIn</p>
            </a>
            <a mat-fab>
                <img src="../assets/socialLogos/gmail.png">
                <p class="iconText">Gmail</p>
            </a>
        </div>
    </div>
    <div class="feedbackContainer">
        <h1 class="title">Or maybe you have some criticism?</h1>
        <br>
        <h2>Please leave feedback as I am always looking to evolve my work</h2>
        <form>
            <input>
        </form>
    </div>
</section>