<section [ngStyle]="{'background-image': 'url(../assets/4.png)'}" #section>
    <h1 class="title" #title>Interested in my work?</h1>
    <br><br>
    <h2 #body>Feel free to follow, connect, or contact me on any of these platforms</h2>
    <div class="centered">
        <div class="platforms" #platforms>
            <div class="app">
                <a mat-fab class="hvr-grow-shadow" color="white" href="https://www.github.com/CarsonQuiason" target="_blank">
                    <img src="../assets/socialLogos/github.png">
                </a>
                <p class="iconText2">GitHub</p>
            </div>
            <div class="app">
                <a mat-fab class="hvr-grow-shadow" color="white" href="https://www.linkedin.com/in/carson-rottinghaus-399706210/" target="_blank">
                    <img src="../assets/socialLogos/linkedin.png">
                </a>
                <p class="iconText2">LinkedIn</p>
            </div>
            <div class="app">
                <a mat-fab class="hvr-grow-shadow" color="white" href="https://git-scm.com/" target="_blank">
                    <img src="../assets/socialLogos/gmail.png">
                </a>
                <p class="iconText2">Gmail</p>
            </div>
        </div>
    </div>
    <div class="feedbackContainer" #feedback>
        <h1 class="title">Or maybe, you have some criticism?</h1>
        <br>
        <h2>Please leave feedback as I am always looking to evolve my work</h2>
        <form class="form" [formGroup]="feedBackForm">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="First Last" formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Feedback</mat-label>
                <textarea matInput placeholder="" formControlName="content"></textarea>
            </mat-form-field>
            <button mat-mini-fab color="primary" class="formBtn" (click)="addFeedback()">
                ✔
            </button>

        </form>
    </div>
    <div *ngIf="submitted" #submitResponse>
        <p>Thank you for your feedback!</p>
    </div>
</section>