*{
    font-family: 'Montserrat';
}
section{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
}

h1, h2, p {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

h2{
    font-size: 2em;
}

.title{
    padding-top: 6%;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

p{
    font-size: 1em;
}

.subText{
    font-size: 1em;
}

.feedbackContainer{
    margin-top: 10%;
    width: 100%;
    color: white;
    text-align: center;
}

.platforms{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.centered{
    display: flex;
    justify-content: center;
}

img{
    width: 50%;
}

.iconText{
    font-size: 1em;
    margin-top: 20%;
}

.iconText2{
    font-size: .9em;
    margin-top: 20%;
}