<section [ngStyle]="{'background-image': 'url(../assets/background.png)'}" #section>
    <div class="container">
        <div #greeting class="greeting"><img src="../assets/wave.gif" #wave><b #hello>Hello</b>, my name is <b>Carson Rottinghaus</b></div>
        <div #body>
            <p>I'm currently a 4th year student studying Computer Science at the University of Missouri-Columbia</p>
            <p>with specialization in full-stack Web, App, and Game Development</p>
        </div>
    </div>
</section>
