<section class="projectContent bg" [ngStyle]="{'background-image': 'url(../assets/3.png)'}" #section>
    <h1 class="title" #title>Projects</h1>
    <div class="cardContainer" #cardContainer>
        
        <mat-card class="hvr-grow-shadow">
            <mat-card-title>
                Chat App
                <mat-icon>
                    message
                </mat-icon>
            </mat-card-title>
            <br>
            <mat-card-content>
                <p>A full stack, real-time messaging app with support for Google Authentication, Google Maps API, and Giphy API.</p>
                <p>Built with: Angular, Firebase</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button class="hvr-bounce-to-top" href="https://www.carsonrottinghaus.me/ChatApp/" target="_blank">View Live</a>
                <a mat-button class="hvr-bounce-to-top" href="https://github.com/CarsonQuiason/chat-app" target="_blank">View Source</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="hvr-grow-shadow">
            <mat-card-title>
                Task Manager
                <mat-icon>
                    list
                </mat-icon>
            </mat-card-title>
            <br>
            <mat-card-content>
                <p>A full-stack application for managing tasks (Similar to Trello) with support for Google Authentication</p>
                <p>Built with: Angular, Firebase</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button class="hvr-bounce-to-top" href="https://www.carsonrottinghaus.me/Explorations/E3/TaskManager/" target="_blank">View Live</a>
                <a mat-button class="hvr-bounce-to-top" href="https://github.com/CarsonQuiason/task-manager" target="_blank">View Source</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="hvr-grow-shadow">
            <mat-card-title>
                Portfolio Webpage
                <mat-icon>
                    website
                </mat-icon>
            </mat-card-title>
            <br>
            <mat-card-content>
                <p>The webpage you're on right now! (Pretty meta, I know.) Deployed on my Ubuntu EC2 Instance.</p>
                <p>Built with: Angular, GSAP, Firebase</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button class="hvr-bounce-to-top" href="https://github.com/CarsonQuiason/angular-portfolio" target="_blank">View Source</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="hvr-grow-shadow">
            <mat-card-title>
                3D Basketball Game
                <mat-icon>
                    sports_basketball
                </mat-icon>
            </mat-card-title>
            <br>
            <mat-card-content>
                <p>A multiplayer 3D Basketball Video Game with server sided projectile motion.</p>
                <p>Built with: LUA, Roblox Studio</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button class="hvr-bounce-to-top" href="https://www.roblox.com/games/6476597322/Basketball" target="_blank">View Live</a>
                <a mat-button class="hvr-bounce-to-top" href="https://github.com/CarsonQuiason/basketball-game" target="_blank">View Source</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="hvr-grow-shadow">
            <mat-card-title>
                M.V.C. TicTacToe
                <mat-icon>
                    tag
                </mat-icon>
            </mat-card-title>
            <br>
            <mat-card-content>
                <p>A simple Tic-Tac-Toe application built with a Model-View-Controller architecture</p>
                <p>Built with: JavaFX</p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button class="hvr-bounce-to-top" href="https://github.com/CarsonQuiason/MVC-Tic-Tac-Toe" target="_blank">View Source</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="hvr-grow-shadow">
            <mat-card-title>
                Archives
                <mat-icon>
                    archive
                </mat-icon>
            </mat-card-title>
            <mat-card-content>
                <p class="archiveText">Filled with all of my previous projects that are not good enough to put on my fridge. This show cases my learning throughout the years.</p>
                <p class="warn" #warn>Warning</p>
                <p class="archiveText">Contains a massive amount of spaghetti code</p>
            </mat-card-content>
            <a mat-button class="hvr-bounce-to-top" target="_blank">Enter If You Dare</a>
        </mat-card>
    </div>
</section>


