<div class="projectContent bg" [ngStyle]="{'background-image': 'url(../assets/background3.png)'}">
    <h1 class="title">PROJECTS</h1>
    <div class="cardContainer">
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <mat-icon [ngStyle]="{'color':'white'}" class="cardIcon">
                            message
                        </mat-icon>
                        <h3>Chat App</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>A real-time messaging application built with Angular and Firebase with Google Maps API and Giphy API support</p>
                            <a href="#">Source Code</a>
                            <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <mat-icon [ngStyle]="{'color':'white'}">
                            message
                        </mat-icon>
                        <h3>Test</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>A real-time messaging application built with Angular and Firebase with Google Maps API and Giphy API support</p>
                            <a href="#">Source Code</a>
                            <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <mat-icon [ngStyle]="{'color':'white'}">
                            message
                        </mat-icon>
                        <h3>Test</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>A real-time messaging application built with Angular and Firebase with Google Maps API and Giphy API support</p>
                            <a href="#">Source Code</a>
                            <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <mat-icon [ngStyle]="{'color':'white'}">
                            message
                        </mat-icon>
                        <h3>Test</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>A real-time messaging application built with Angular and Firebase with Google Maps API and Giphy API support</p>
                            <a href="#">Source Code</a>
                            <a href="#">Live Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


