<section class="bg" [ngStyle]="{'background-image': 'url(../assets/2.png)'}" #section>
    <h1 class="title">Experience</h1>
    <div class="languages">
        <h2>Languages</h2>
        <div class="appContainer">
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/angular.png">
                <p class="iconText">Angular</p>
            </a>
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/javafx.png">
                <p class="iconText">JavaFX</p>
            </a>
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/javafx.png">
                <p class="iconText">Unity3D</p>
            </a>
        </div>
    </div>
    <div class="frameworks">
        <h2>Frameworks</h2>
        <div class="appContainer">
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/angular.png">
                <p class="iconText">Angular</p>
            </a>
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/javafx.png">
                <p class="iconText">JavaFX</p>
            </a>
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/javafx.png">
                <p class="iconText">Unity3D</p>
            </a>
        </div>
    </div>
    <div class="backend">
        <h2>Back End</h2>
        <div class="appContainer">
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/git.png">
                <p class="iconText">Firebase</p>
            </a>
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/git.png">
                <p class="iconText">SQL</p>
            </a>
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/git.png">
                <p class="iconText">PHP</p>
            </a>
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/git.png">
                <p class="iconText">MongoDB</p>
            </a>
        </div>
    </div>
    <div class="other">
        <h2>Other Tools</h2>
        <div class="appContainer">
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/git.png">
                <p class="iconText">Git</p>
            </a>
            <a mat-fab color="white" class="app">
                <img src="../assets/experienceLogos/git.png">
                <p class="iconText">AWS</p>
            </a>
        </div>
    </div>
    <div class="footer">
        <h2>Want to know more?</h2>
        <p>View my <a href="">Resume</a></p>
    </div>
</section>


